.body {
  margin: 1rem;
  margin-bottom: 1rem;
}

.previousBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border: transparent;
  box-shadow: 0px 0px 10px 1px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.arrowBtn {
  height: 1rem;
  width: 1rem;
}

.squareBtn {
  text-decoration: none;
}

.matched-peoples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
}
.name {
  margin: 0.2rem;
}
.matched-peoples img {
  width: 40vw;
  height: 30vh;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px;
}

.matched-people {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divBtns {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 0.2rem;
}

.matchBtns {
  background-color: transparent;
  border: none;
}

.matchBtns img {
  max-height: 3rem;
  max-width: 3rem;
}
.animalChild {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 2rem;
}
.chatpingouin {
  background-image: url("../assets/animals/pingouin-chat.jpg");
}
.chathibou {
  background-image: url("../assets/animals/chat-hibou.jpg");
}
.chiencheval,
.chevalchien {
  background-image: url("../assets/animals/chien-cheval.jpg");
}
.chienrequin,
.requinchien {
  background-image: url("../assets/animals/chien-requin.jpg");
}
.chienoiseau,
.oiseauchien {
  background-image: url("../assets/animals/chien-oiseau.jpg");
}
.chienpingouin,
.pingouinchien {
  background-image: url("../assets/animals/pingouin-chien.jpg");
}
.chienlapin,
.lapinchien {
  background-image: url("../assets/animals/lapin-chien.jpg");
}
.chienhibou,
.hibouchien {
  background-image: url("../assets/animals/chien-hibou.jpg");
}
.chevaloiseau,
.oiseaucheva {
  background-image: url("../assets/animals/cheval-oiseau.jpg");
}
.chatoiseau,
.oiseauchat {
  background-image: url("../assets/animals/chat.jpg");
}
.oiseaulapin,
.lapinoiseau {
  background-image: url("../assets/animals/chat.jpg");
}
.oiseaurequin,
.requinoiseau {
  background-image: url("../assets/animals/chat.jpg");
}
.requincheval,
.chevalrequin {
  background-image: url("../assets/animals/chat.jpg");
}
