.body {
  margin: 1rem;
  margin-bottom: 1rem;
}

.previousBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border: transparent;
  box-shadow: 0px 0px 10px 1px;
  font-size: 1rem;
}

.arrowBtn {
  height: 1rem;
  width: 1rem;
}

.squareBtn {
  text-decoration: none;
}

.matched-peoples {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.matched-peoples img {
  width: 40vw;
  height: 30vh;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px;
}

.matched-people {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divBtns {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.matchBtns {
  background-color: transparent;
  border: none;
}

.matchBtns img {
  max-height: 3rem;
  max-width: 3rem;
}
.animalChild {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 2rem;
}
.chatpingouin {
  background-image: url("../assets/animals/pingouin-chat.jpg");
}
.chathibou {
  background-image: url("../assets/animals/chat-hibou.jpg");
}
.chiencheval {
  background-image: url("../assets/animals/chien-cheval.jpg");
}
.chienrequin {
  background-image: url("../assets/animals/chien-requin.jpg");
}
.chienoiseau {
  background-image: url("../assets/animals/chien-oiseau.jpg");
}
.chienpingouin {
  background-image: url("../assets/animals/pingouin-chien.jpg");
}
.chienlapin,
.lapinchien {
  background-image: url("../assets/animals/lapin-chien.jpg");
}
.chienhibou {
  background-image: url("../assets/animals/chien-hibou.jpg");
}
.chevaloiseau {
  background-image: url("../assets/animals/cheval-oiseau.jpg");
}
.chatoiseau {
  background-image: url("../assets/animals/chat.jpg");
}
.oiseaulapin {
  background-image: url("../assets/animals/chat.jpg");
}
.oiseaurequin {
  background-image: url("../assets/animals/chat.jpg");
}
.requincheval {
  background-image: url("../assets/animals/chat.jpg");
}
