.logo-site {
  width: 300px;
  height: 300px;
  margin: 4rem;
}
.logo-inscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  align-items: center;
  background-color: rgb(231, 87, 99);
  height: 58rem;
}
.inscription {
  width: 70vw;
  height: 5rem;
  font-size: 3rem;
  color: black;
  font-family: 'Times New Roman', Times, serif;
border-radius: 1rem;
border: solid black;
text-decoration: none;
}
.App {
  height: 100vw;
}