.Info-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 98vw;
  background-color: rgb(231, 87, 99);
  border-radius: 3rem;
}


.Inscription__name {
  height: 13vh;
}
.Inscription__age {
  height: 13vh;
}
.Inscription__bio {
  height: 13vh;
  margin-bottom: 3rem;
}
p {
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
}
.Inscription__bio input {
  width: 75vw;
}
.Inscription__name  input, .Inscription__age input, .Inscription__Profession input {
  width: 75vw;
}
.Inscription__finish {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
}