.Tchat{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

h1 {
  background-color: #fd297b;
  margin: 0;
  padding: 1rem;
  box-shadow: 0px 0px 10px 1px;
}


.Tchat__Bot {
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 10px;
  padding-bottom: 6rem;
}

.Tchat__Bot > div {
  background-color: lightgray;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  height: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 20%;
}

textarea {
  height: 40%;
  border-radius: 1rem;
}

.btn {
	background-color:#ffffff;
	border-radius:29px;
	border:2px solid #ff00ae;
	display:inline-block;
	cursor:pointer;
	color:#fd297a;
	font-family:Arial;
	font-size:17px;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffadfa;
}